<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sustainably Chic</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="..public/images">
    <!-- Custom Fonts -->
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Theme CSS -->
    <link href="../public/css/agency.min.css" rel="stylesheet">
    <link href="../public/css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Sustainably Chic</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                         <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#food">Food</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#fashion">Fashion</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#fitness">Fitness</a>
                    </li>
                    <li>
                      <a class="page-scroll" href="#quiz">Quiz</a>
                      </li>
                      <li>
                       <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text"> <h1></h1>
                <div class="intro-heading"></div>
                <div class="intro-text"> <h1></h1s>
        <!--        <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>-->
        <!--    </div>-->
        <!--</div>-->
    </header>
        
        
    <br>
    <br>
    <!-- Food Section -->
    <section id="food">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Food</h2>
                    <h3 class="section-subheading text-muted">Here you can find all the ways to become vegan, vegatarian or plant based.</h3>
                </div>
            </div>
                
            </div>
        
       

            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x" id="bubble1">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-envira fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Plant Based</h4>
                    <p class="text-muted">A Plant-Based diet is a diet based on foods derived from plants, including vegetables,whole grains,legumes and fruits with little or NO animal products.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-envira fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Vegan</h4>
                    <p class="text-muted">A vegan diet consits of only plant-derived foods. Vegans do not use of consume ANY aniamls or animal products including flesh,land or sea animals,milk,eggs or honey.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-envira  fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Vegetarian</h4>
                    <p class="text-muted">A vegatarian diet usually consits of just no meat such as no poultry, seafood or fish</p>
                </div>
            </div>
            
          
        
                <center>
                             
                    
                 <br><br>

            </div>
                   
        
</form>
        </div>
    </section>

    <!-- Fashion Section -->
    <section id="fashion" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Fashion</h2>
                    <h3 class="section-subheading text-muted">All things sustainable and fashionable.</h3>
                </div>
           

</form>
<center>
            <div class="row">
                <div class=" col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <center><i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="" class="img-responsive" alt="">
                    </a>
                    
                    <div class="portfolio-caption">
                        <center><h4>Thrift Tips</h4></center>
                        <center><p class="text-muted">Tips and tricks of the trade: <br>
                        -Dress comfortably so it's easy to try on clothes. <br>
                        -Always try on the clothes. <br>
                        -If you see something you like, BUY IT! If you leave it and decide you want to get it later, it will most likely be gone.<br>
                        -Bring a reusable bag with you to store your finds when you buy them instead of using a plastic bag.</p></center>
                    </div>
                </div>
                
                <div class=" col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <center><i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="" class="img-responsive" alt="">
                    </a>
                   <div class="portfolio-caption">
                        <center><h4>Ethical Fashion & Sustainability</h4></center>
                        <center><p class="text-muted">According to the EPA, the average American throws away 80 pounds of clothes each year. That's over 14 million tons. This amount of waste is equivalent to the emission of 7.3 million cars. So how can you shop more ethically and sustainably? </p></center>
                    </div>
                </center></div>
                
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-3x"></i>
                            </div>
                        </div>
                        <img src="" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4></h4>
                        <p class="text-muted"></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-3x"></i>
                            </div>
                        </div>
                        <img src="" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4></h4>
                        <p class="text-muted"></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-3x"></i>
                            </div>
                        </div>
                        <img src="" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4></h4>
                        <p class="text-muted"></p>
                    </div>
                </div>
                
                     </div>
           
     
                 <br><br>
                     
            </div>
                   
        
</form>
            </div>
        </div>
    </section>

    <!-- Fitness Section -->
  
     <section id="Fitness">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Fitness</h2>
                    <h3 class="section-subheading text-muted">Fitness</h3>
                </div>
    
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bicycle fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Reduce depletion through Fitness.</h4>
                    <p class="text-muted">You can start reducing depletion today, all while improving your overall health and getting in daily physical activity! Making simple choices like walking or riding a bike! These small changes could ultimately make a huge difference! </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-heartbeat fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Benefits of fitness</h4>
                    <p class="text-muted">It is important to take care of your body and with that there a lot of benefits. These include weight control, reduced risk of: cardiovascular disease, type 2 diabetes, metabolic syndrome, and some cancers. It also strengthens bones and muscles and improves your overall mental and emotional health.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-flag-checkered fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Start your Fitness journey today!</h4>
                    <p class="text-muted">It's never too late to start your journey to fitness. Start by setting small goals for yourself, like do 10 complete push-ups and from there continue to build and challenge yourself!</p>
                </div>
           
                   </div>
           
           <center><h2>Take our lifestyle quiz!</h2></center>
           <form method = "POST" action = "/results">
                  
                  <center>How often do you eat meat?<br></center>
            <center>
  <input type="radio" name="food" value="never." checked> never.<br>
  <input type="radio" name="food" value="1 - 3 days per week."> 1 - 3 days per week.<br>
  <input type="radio" name="food" value="4 or more days per week."> 4 or more days per week.
</center>
<br>
              <center>How often do you consume animal byproducts (i.e. dairy and eggs)?<br></center>
                <center>
                   <input type="radio" name="byproducts" value="never."checked> never.<br>
                  <input type="radio" name="byproducts" value="1 - 3 days per week."> 1 - 3 days per week.<br>
                  <input type="radio" name="byproducts" value="4 or more days per week."> 4 or more days per week.
                </center>  
                <br>
                 
                 <center><center>How many meals do you eat meat/animal byproducts?<br></center>
                <center>
                   <input type="radio" name="meals" value="none."checked> none.<br>
                  <input type="radio" name="meals" value="1 meal."> 1 meal.<br>
                  <input type="radio" name="meals" value="2+ meals."> 2+ meals.
              </center>  <br></center>
              <center>What stores do you shop at?<br></center>
            <center>
  <input type="radio" name="stores" value="I don't shop." checked> I don't shop.<br>
  <input type="radio" name="stores" value="thrift stores/second hand"> thrift stores/second hand<br>
  <input type="radio" name="stores" value="Forever 21, H&M, Zara, Urban Outfitters, GAP, Wet Seal."> Forever 21, H&M, Zara, Urban Outfitters, GAP, Wet Seal. 
</center>

<br>
              <center>What do you do with clothes you don't want?<br></center>
                <center>
                   <input type="radio" name="clothes" value="I throw it away. I don't need/want it anymore." checked> I throw it away. I don't need/want it anymore.<br>
                  <input type="radio" name="clothes" value="I donate what I can and reuse/recycle the rest."> I donate what I can and reuse/recycle the rest.<br>
                  <input type="radio" name="clothes" value="I sell my clothes."> I sell my clothes. 
                    </center>  
                <br>
              <center>How often do you excercise?<br></center>
            <center>
        <input type="radio" name="days" value="3 or more times per week" checked> 3 or more times per week<br>
        <input type="radio" name="days" value="1 - 2 times per week"> 1 - 2 times per week<br>
        <input type="radio" name="days" value="never"> never  
            </center>
            <br>
              <center>How intense are your workouts?<br></center>
                <center>
                    
        <input type="radio" name="intensity" value="3 or more times per week" checked> I work really hard and sweat A LOT.<br>
        <input type="radio" name="intensity" value="I work pretty hard but take a lot of breaks."> I work pretty hard but take a lot of breaks.<br>
        <input type="radio" name="intensity" value="I don't sweat."> I don't sweat. 
            <br>
            <br>
                        <center><input type="submit" value="Submit"></center>
                    
                    </form></center>  
                 
                 
                 <br><br>
                     <center>
            </div>
            </div>
        </div>
    </section>
    
    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <center><img class="img-circle img-responsive" src="https://pbs.twimg.com/profile_images/851907593899565056/l1jb7RQC.jpg" alt="kwk" width="10%" height="10%"></center>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <center><h4 class="subheading">Kode with Klossy STL 2017</h4></center>
                                </div>
                                <div class="timeline-body">
                                    <center><p class="text-muted">The founders of Sustainably Chic, were brought together at Kode with Klossy, after all being selected for the coding program!</p></center>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <center><img class="img-circle img-responsive" src="https://ih1.redbubble.net/image.63983930.9225/flat,800x800,070,f.jpg" alt="earth" width="10%" height="10%"></center>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <center><h4 class="subheading">Identifying an issue!</h4></center>
                                </div>
                                <div class="timeline-body">
                                    <center><p class="text-muted"> Unfortunately, depletion of the earth's natural resources, is a real and serious issue that we encounter today. Now what is depletion?! Depletion is the reduction in the number or quantity of something.    </p></center>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <center><img class="img-circle img-responsive" src="http://images.clipartpanda.com/raising-hand-clipart-raise_hand.jpg" alt="hands" width="10%" height="10%" ></center>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <center><h4 class="subheading">Our Mission</h4></center>
                                </div>
                                <div class="timeline-body">
                                    <center><p class="text-muted">Our mission is to raise awareness of sustainability and promote avoidance of the depletion of natural resources!</p></center>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <!--<img class="img-circle img-responsive" src="img/about/4.jpg" alt="">-->
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                        <!--            <h4 class="subheading">Phase Two Expansion</h4>-->
                        <!--        </div>-->
                        <!--        <div class="timeline-body">-->
                        <!--            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>-->
                        <!--        </div>-->
                        <!--    </div>-->
                        <!--</li>-->
                        <!--<li class="timeline-inverted">-->
                        <!--    <div class="timeline-image">-->
                                <center><h4>Be part of our story!</h4></center>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">Our Amazing Team</h3>
                    <h3 class="section-subheading text-muted">The founders of Sustainably Chic.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <!--<img src="../public/images/IMG_lindsey.jpg" alt="">-->
                        <h4>Lindsey Trieu</h4>
                        <p class="text-muted">Lead Back-end Director</p>
                        <!--<ul class="list-inline social-buttons">-->
                        <!--    <li><a href="#"><i class="fa fa-twitter"></i></a>-->
                        <!--    </li>-->
                        <!--    <li><a href="#"><i class="fa fa-facebook"></i></a>-->
                        <!--    </li>-->
                        <!--    <li><a href="#"><i class="fa fa-linkedin"></i></a>-->
                        <!--    </li>-->
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <!--<img src="img/team/2.jpg" class="img-responsive img-circle" alt="">-->
                        <h4>Lily Singer</h4>
                        <p class="text-muted">Co-Lead Front-end Designer </p>
                        <ul class="list-inline social-buttons">
                            <!--<li><a href="#"><i class="fa fa-twitter"></i></a>-->
                            <!--</li>-->
                            <!--<li><a href="#"><i class="fa fa-facebook"></i></a>-->
                            <!--</li>-->
                            <li><a href="https://www.instagram.com/lilymsinger/"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <!--<img src="img/team/3.jpg" class="img-responsive img-circle" alt="">-->
                        <h4>Gabby Gilby</h4>
                        <p class="text-muted">Co-Lead Front-end Designer</p>
                        <ul class="list-inline social-buttons">
                        <!--    <li><a href="#"><i class="fa fa-twitter"></i></a>-->
                        <!--    </li>-->
                        <!--    <li><a href="#"><i class="fa fa-facebook"></i></a>-->
                        <!--    </li>-->
                            <li><a href="https://www.instagram.com/gabbygilbyy/"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted"></p>
                </div>
            </div>
        </div>
    </section>

    <!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/envato.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/designmodo.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/themeforest.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>

  
    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="img/portfolio/roundicons-free.png" alt="">
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <p>
                                    <strong>Want these icons in this portfolio item sample?</strong>You can download 60 of them for free, courtesy of <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">RoundIcons.com</a>, or you can purchase the 1500 icon set <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">here</a>.</p>
                                <ul class="list-inline">
                                    <li>Date: July 2014</li>
                                    <li>Client: Round Icons</li>
                                    <li>Category: Graphic Design</li>
                                </ul>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Project Heading</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="img/portfolio/startup-framework-preview.png" alt="">
                                <p><a href="http://designmodo.com/startup/?u=787">Startup Framework</a> is a website builder for professionals. Startup Framework contains components and complex blocks (PSD+HTML Bootstrap themes and templates) which can easily be integrated into almost any design. All of these components are made in the same style, and can easily be integrated into projects, allowing you to create hundreds of solutions for your future projects.</p>
                                <p>You can preview Startup Framework <a href="http://designmodo.com/startup/?u=787">here</a>.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="img/portfolio/treehouse-preview.png" alt="">
                                <p>Treehouse is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. This is bright and spacious design perfect for people or startup companies looking to showcase their apps or other projects.</p>
                                <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/treehouse-free-psd-web-template/">FreebiesXpress.com</a>.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="img/portfolio/golden-preview.png" alt="">
                                <p>Start Bootstrap's Agency theme is based on Golden, a free PSD website template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Golden is a modern and clean one page web template that was made exclusively for Best PSD Freebies. This template has a great portfolio, timeline, and meet your team sections that can be easily modified to fit your needs.</p>
                                <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/golden-free-one-page-web-template/">FreebiesXpress.com</a>.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="img/portfolio/escape-preview.png" alt="">
                                <p>Escape is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Escape is a one page web template that was designed with agencies in mind. This template is ideal for those looking for a simple one page solution to describe your business and offer your services.</p>
                                <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/escape-one-page-psd-web-template/">FreebiesXpress.com</a>.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="img/portfolio/dreams-preview.png" alt="">
                                <p>Dreams is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Dreams is a modern one page web template designed for almost any purpose. It’s a beautiful template that’s designed with the Bootstrap framework in mind.</p>
                                <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/dreams-free-one-page-web-template/">FreebiesXpress.com</a>.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/agency.min.js"></script>

</body>

</html>
