<!DOCTYPE html>
<html>
    <head>
        <title>Sustainably Chic</title>
		<link rel="stylesheet" href="css/agency.css" /> 
		<!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Theme CSS -->
    <link href="../public/css/agency.min.css" rel="stylesheet">
    <link href="../public/css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->
    </head>
    <body>
        <center><h2>Here Are Your Results!</h2></center>
        <center><h3>Food:</h3>
            <%=@final_food_output%>
            <br>
            <center><img src="http://www.kathrynmarsden.com/uploads/3/0/9/2/3092088/7080516_orig.jpg" width="20%" height="20%"></center>
            <p><a href="https://www.youtube.com/watch?v=OJxMsypwnqg&feature=youtu.be">Beginners Guide to Veganism</a></p>

            <br>
        <h3>Fashion:</h3>
            <%=@final_fashion_output%>
            <br>
            <center><img src="https://s-media-cache-ak0.pinimg.com/736x/7e/15/5d/7e155d335bbb5972e15deb6216c3b18f.jpg" width="20%" height="20%"></center>
            <p><a href="https://www.youtube.com/watch?v=O7K5H9uSHHI&feature=youtu.be">5 tips for conscious shopping </a></p>
            <p><a href="https://www.youtube.com/watch?v=6-jWRgYMARk&feature=youtu.be">Thrift Haul 2017 </a></p>
            <br>
        <h3>Fitness:</h3>
            <%=@final_fitness_output%></center>
    <br>
            <center><img src="http://www.paradox-fitness.com/wp-content/uploads/2013/10/fitness-super-store-uk.jpg" width="40%" height="40%"></center>
            <center><p><a href="https://www.youtube.com/watch?v=Qe_NyqMlogU">How to Create a Workout Plan</a></p></center>
            <br>
   
    </body>
</html>